.bar {
    width: 320px;
    height: 40px;
    background-color: #FFF;
    border: 5px solid #000;
    display: inline-block;
}

.bar .progress {
    height: 40px;
    width: 80%;
    background-color: #F25A70;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}
