.card-project {
    background-color: #001D3D;
    width: 280px;
    height: 280px;
    padding: 17px 35px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 10px 10px 0px #FFFFFF;
}

.card-project.-blue {
    background-color: #4C5B84;
}