.main-section {
    background-color: #001D3D;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #F25A70;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: #3A4042;
}

.main-section.-bgSecond{
    background-color: #7C5E99;
}

.main-section.-bdBlack {
    border-color: #000;
}