.main-contact {
    box-sizing: border-box;
    max-width: 850px;
    margin: 0 auto;
    padding: 0 30px;
    color: #FFF;
    text-align: center;
}

.main-contact p {
    margin: 0 auto 45px;
    font-size: 1.6rem;
    line-height: 1.5;
}

.main-contact .actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

@media (max-width: 600px) {
    .main-contact p {
        font-size: 1.15rem;
    }

    .main-contact .main-button {
        font-size: 20px;
    }
}

@media (max-width: 360px) {
    .main-contact {
        padding: 0 16px;
    }

    .main-contact .actions {
        gap: 12px;
    }

    .main-contact .main-button {
        font-size: 16px;
        padding: 14px 12px;
    }
}
